.container {
  max-width: 1170px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  @include clearfix;
}
.row {
  width: 100%;
  display: block;
  box-sizing: border-box;
  @include clearfix;
}
[class*="col-"] {
  clear: both;
  float: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $gridColGutter;
  min-height: 1px;
  position: relative;
  @include clearfix;
}
@media(max-width: 767px) {
  [class*="col-t"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-t-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
@media(min-width: 768px) {
  [class*="col-s"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-s-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
@media(min-width: 992px) {
  [class*="col-m"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-m-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
@media(min-width: 1200px) {
  [class*="col-l"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-l-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
