@media(min-width: 768px) {
   @for $i from 1 through 12{
    .col-small-push-#{$i} {
      left: ($i/12) * 100 + %;
    }
    .col-small-pull-#{$i} {
      right: ($i/12) * 100 + %;
    }
  }
}
@media(min-width: 992px) {
   @for $i from 1 through 12{
    .col-med-push-#{$i} {
      left: ($i/12) * 100 + %;
    }
    .col-med-pull-#{$i} {
      right: ($i/12) * 100 + %;
    }
  }
}
@media(min-width: 1200px) {
   @for $i from 1 through 12{
    .col-large-push-#{$i} {
      left: ($i/12) * 100 + %;
    }
    .col-large-pull-#{$i} {
      right: ($i/12) * 100 + %;
    }
  }
}
