@media(min-width: 768px) {
   @for $i from 1 through 12{
    .col-s-push-#{$i} {
      left: ($i/12) * 100 + %;
    }
    .col-s-pull-#{$i} {
      right: ($i/12) * 100 + %;
    }
  }
}
@media(min-width: 992px) {
   @for $i from 1 through 12{
    .col-m-push-#{$i} {
      left: ($i/12) * 100 + %;
    }
    .col-m-pull-#{$i} {
      right: ($i/12) * 100 + %;
    }
  }
}
@media(min-width: 1200px) {
   @for $i from 1 through 12{
    .col-l-push-#{$i} {
      left: ($i/12) * 100 + %;
    }
    .col-l-pull-#{$i} {
      right: ($i/12) * 100 + %;
    }
  }
}
