.container {
  max-width: 1170px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.row {
  width: 100%;
  display: block;
  box-sizing: border-box;
  @include clearfix;
}
[class*="col-"] {
  clear: both;
  float: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $gridColGutter;
  min-height: 1px;
  position: relative;
}
@media(max-width: 767px) {
  [class*="col-xs"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-xs-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
@media(min-width: 768px) {
  [class*="col-sm"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-sm-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
@media(min-width: 992px) {
  [class*="col-md"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-md-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
@media(min-width: 1200px) {
  [class*="col-lg"] {
    float: left;
    clear: none;
  }
  @for $i from 1 through $gridCols {
    .col-lg-#{$i} {
      width: ($i/$gridCols) * 100 + %;
    }
  }
}
